<!DOCTYPE html>
<html>
<head>
   <title>@ViewBag.Title</title>
   <style type="text/css">
      body { width: 490px; }
   </style>
   <link rel="stylesheet" href="@Url.Content("~/Content/css-screen.min.css")" type="text/css" />
</head>
<body style="background: #F6F6F1;" class="CenterBoxInBody">
   <div id="AbsoluteHeader">
      @RenderBody()
   </div>
</body>
</html>