@model BSData.Models.HeaderModel
@{
   Layout = null;
}
<div class="superHeader">
   @*   <div class="left"><span><img src="../../Content/images/Logo.png" alt="" />
*@
   <div class="left">
      <span><span class="img16-logo" style="display:inline-block;padding:0;"></span>
         <b style="font-size: 12pt;">BS</b>Data®</span>
   </div>
   <div class="right">
      <span>
         @(Model.Title)
      </span>
   </div>
</div>
<div style="clear: both">
</div>