<?xml version="1.0" encoding="utf-8" ?>
<root xmlns="urn:ChirpyConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <FileGroup Name="merged.js">
      <File Path="../Plugins/jquery-1.7.min.js" Minify="false"/>
      <File Path="../Plugins/fauxconsole.js" Minify="true"/>
      <File Path="../Plugins/jquery-ui-1.8.15.min.js" Minify="true"/>
      <File Path="../Plugins/jquery.dataTables.min.js" Minify="true"/>
      <File Path="../Plugins/json2.js" Minify="true"/>
      <File Path="../Plugins/Plugins.js" Minify="true"/>-->
      <File Path="../Plugins/jquery.validity.js" Minify="true"/>
      <File Path="../Plugins/swfupload.js" Minify="true"/>
   </FileGroup>
</root>