<?xml version="1.0" encoding="utf-8" ?>
<root xmlns="urn:ChirpyConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <FileGroup Name="mergedGeneral2.js">
      <File Path="../General/MyPlugins.js" Minify="false"/>
      <File Path="../General/MyPlugins_ComboBox.js" Minify="false"/>

   </FileGroup>
</root>