<?xml version="1.0" encoding="utf-8" ?>
<root xmlns="urn:ChirpyConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <FileGroup Name="merged.css">
      <File Path="css-screen.min.css" Minify="false"/>
      <File Path="dataTables.css" Minify="true"/>
      <File Path="jquery-ui-custom.css" Minify="true"/>
      <File Path="qTip.css" Minify="true"/>
   </FileGroup>
</root>