<?xml version="1.0" encoding="utf-8" ?>
<root xmlns="urn:ChirpyConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <FileGroup Name="mergedForms.js">
      <File Path="../Form/Clients_ClientsList_Grid.js" Minify="false"/>
      <File Path="../Form/Docs_Contracts_New_Object.js" Minify="false"/>
      <File Path="../Form/Docs_Contracts_New_Other.js" Minify="false"/>
      <File Path="../Form/Docs_ContractsObjects_Grid.js" Minify="false"/>
      <File Path="../Form/Docs_ContractsOther_Grid.js" Minify="false"/>
      <File Path="../Form/Docs_ContractsUnsigned_Grid.js" Minify="false"/>
      <File Path="../Form/Title_MyEvents.js" Minify="false"/>
      
      
      <!--<script src="../../Scripts/Form/Clients_ClientsList_Grid.js" type="text/javascript"></script>
      <script src="../../Scripts/Form/Docs_Contracts_New_Object.js" type="text/javascript"></script>
      <script src="../../Scripts/Form/Docs_Contracts_New_Other.js" type="text/javascript"></script>
      <script src="../../Scripts/Form/Docs_ContractsObjects_Grid.js" type="text/javascript"></script>
      <script src="../../Scripts/Form/Docs_ContractsOther_Grid.js" type="text/javascript"></script>
      <script src="../../Scripts/Form/Docs_ContractsUnsigned_Grid.js" type="text/javascript"></script>
      <script src="../../Scripts/Form/Title_MyEvents.js" type="text/javascript"></script>-->
      
      
   </FileGroup>
</root>