<?xml version="1.0" encoding="utf-8" ?>
<root xmlns="urn:ChirpyConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <FileGroup Name="mergedGeneral.js">

      <File Path="../General/Server.js" Minify="true"/>
      <File Path="../General/General.js" Minify="true"/>
      <File Path="../General/objFunc.js" Minify="true"/>

      <File Path="../General/clsGrid.js" Minify="true"/>
      <File Path="../General/Start.js" Minify="true"/>
      <File Path="../General/clsDialogUi.js" Minify="true"/>
      <File Path="../General/clsEditableForm.js" Minify="true"/>
      <File Path="../General/MyPlugins2.js" Minify="true"/>

      <File Path="../General/MyPlugins.js" Minify="false"/>
      <File Path="../General/MyPlugins_ComboBox.js" Minify="false"/>

   </FileGroup>
</root>